# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.tslint
.eslint*

#editor settings
.vscode
.editorconfig

.gitignore
.gitattributes